
@{
    ViewBag.Title = "Derivaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Derivaciones</h2>

<div class="container">

    <div class="row">

        <div class="col-12">
            <h3> Ranking de derivaciones</h3>

            <h4>Elija el centro de salud desde el cual envían las derivaciones:</h4>
            @{
                List<SelectListItem> listItems = new List<SelectListItem>();


            }
            @Html.DropDownList("ddNavegador", new SelectList(listItems, "Value", "Text"), htmlAttributes: new { @class = "form-control csDD" })

            <div id="desdeContainer"></div>

            <h4>Elija el centro de salud que recibe derivaciones:</h4>
            @{
                List<SelectListItem> listItems2 = new List<SelectListItem>();
                listItems2.Add(new SelectListItem
                {
                    Text = "Un centro de salud",
                    Value = "1"
                });
                listItems2.Add(new SelectListItem
                {
                    Text = "Otro centro de salud",
                    Value = "2",
                });

            }
            @Html.DropDownList("ddNavegador", new SelectList(listItems2, "Value", "Text"), htmlAttributes: new { @class = "form-control" })




            <div id="haciaContainer"></div>
        </div>
    </div>

</div>

<script type="text/javascript">

    //ejemplo de highcharts
    function test()
    {

        var myChart = Highcharts.chart('desdeContainer', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'El centro de salud BLA emite las siguientes derivaciones: '
            },
            xAxis: {
                categories: ['Apples', 'Bananas', 'Oranges']
            },
            yAxis: {
                title: {
                    text: 'Fruit eaten'
                }
            },
            series: [{
                name: 'Jane',
                data: [1, 0, 4]
            }, {
                name: 'John',
                data: [5, 7, 3]
            }]
        });
        //fin de ejemplo

        var myChart2 = Highcharts.chart('haciaContainer', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'El centro de salud BLA recibe las siguientes derivaciones: '
            },
            xAxis: {
                categories: ['Apples', 'Bananas', 'Oranges']
            },
            yAxis: {
                title: {
                    text: 'Fruit eaten'
                }
            },
            series: [{
                name: 'Jane',
                data: [1, 0, 4]
            }, {
                name: 'John',
                data: [5, 7, 3]
            }]
        });
        //fin de ejemplo


    }

$(function () {

        $.ajax({
            type: "POST",
            async: true,
            data: {'csid': 1},
            url: "@Url.Action("GetCentrosDeSalud", "Derivaciones")",
            success: function(data)
            {
                fillDropDownCS(data);
            },
        error: function(e)
        {
            event.stopPropagation();
            alert("error al acceder al servidor");
            console.dir(e);
        }
    });


});

    function fillDropDownCS(cs) {

        var options = $(".csDD");

        $.each(cs, function () {
            options.append($("<option />").val(this.ID).text(this.Nombre));
        });

    }

    

        
</script>